@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Almendra', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    padding-top: 30px;
    color: rgb(118, 84, 27);
    font-size: 5rem;
}

img {
    max-width: 100%;
    border: none;
}



.main {
    display: flex;
    justify-content: center;
    align-content:center;
    height: 99vh;
    background-image: url('/assets/wallpaper1.png');
    background-position: center;
    background-size: 100%;
    z-index: -99;
    cursor: url('/assets/nail1.svg'), auto;
}

.window {
    display: flex;
    justify-content: center;
    align-content:space-between;
    background-image: url('/assets/window1.png');
    background-position: center;
    background-size: 100% 100%;
    width: 70%;
    height: 100%;
}
.shoot{
    margin-top: 130px;
    border-radius: 16%;
    width: 74%;
    height: 69%;
}

#bugDiv{
    position: relative;
    width: 120px;
}

#bug {
    background-size: cover;
    background-position: center no-repeat;
    /* border: 1px solid blue; */ 
}


.scoreContainer {
    /* border: 1px solid blue; */
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.pills {
    top: 2%;
    position: relative;
    width: 150px;
    transform: rotate(-6deg);
    z-index: 5;
}

#score-counter{
    color: rgb(118, 84, 27);
    font-size: 6rem;
    top: 15%;
    z-index: 5;
    padding: 30px 30px 0 0;
}

#plank-right {
    top: 20px;
    height: 180px;
    position: fixed;
    transform: rotate(-6deg);
}

.info{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 20%;
}

#timer {
    color: rgb(118, 84, 27);
    font-size: 2.4rem;
    top: 50px;
    margin: 50px 0 0 30px;
    z-index: 999;
}

#plank-left {
    height: 180px;
    right: 500px;
    z-index: 5;
}

.overlay {
    position: absolute;
    height: 99vh;
    width: 100%;
    background-image: linear-gradient(120deg, #030303, #503b0f);
    z-index: 10;
    opacity: .8;
}
.modal {
    line-height: 2rem;
    width: 500px;
    height: 400px;
    top: 28%;
    position: fixed;
    background-color: rgb(24, 20, 14);
    background-image: url('/assets/modal-background.png');
    border-radius: 3px;
    text-align: center;
    transform: rotate(-2deg);
    z-index: 11; /* 1px higher than the overlay layer */
    box-shadow: 5px 10px 15px 5px rgba(15, 15, 15, 0.7);
}

.modal > p{
    color: rgb(118, 84, 27);
    font-size: 2rem;
}

.startBtn {
    
}
