@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Almendra', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
img {
    max-width: 100%;
    border: none;
}

.main {
    display: flex;
    justify-content: center;
    align-content:center;
    height: 99vh;
    background-image: url('/assets/wallpaper1.png');
    background-position: center;
    background-size: 100%;
    z-index: -99;
    cursor: url('/assets/nail1.svg'), auto;

}

.window {
    display: flex;
    justify-content: center;
    align-content:space-between;
    background-image: url('/assets/window1.png');
    background-position: center;
    background-size: 100% 100%;
    width: 70%;
    height: 100%;
    cursor: url('/assets/nail1.svg'), auto;
}
.shoot{
    margin-top: 130px;
    border-radius: 16%;
    border: 1px solid lightgreen;
    width: 74%;
    height: 69%;
}

#bug {
    background-size: cover;
    background-position: center no-repeat;
    /* border: 1px solid blue; */ 
}


.scoreContainer {
    /* border: 1px solid blue; */
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.pills {
    top: 2%;
    position: relative;
    width: 150px;
    transform: rotate(-6deg);
    z-index: 5;
}

#score-counter{
    color: rgb(118, 84, 27);
    font-size: 5rem;
    top: 15%;
    z-index: 5;
    padding: 30px 30px 0 0;
}

#plank-right {
    top: 20px;
    height: 180px;
    position: fixed;
    transform: rotate(-6deg);
}

.info{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 20%;
}

#timer {
    position: relative;
    color: rgb(118, 84, 27);
    font-size: 2.4rem;
    top: 12%;
    left: 10%;
    z-index: 999;
}

#plank-left {
    height: 180px;
    position: relative;
    z-index: 99;
    right: 20px;
    transform: rotate(-6deg);
}
